.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.dark-theme .connect-button {
  background-color: #5dc45b;
}

.connect-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input {
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5dc45b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b7a3b;
}

.loader {
  margin-top: 20px;
}

.info {
  margin-top: 20px;
  text-align: left;
}

.info p {
  margin-bottom: 10px;
}
